RewriteEngine On
RewriteRule ^usertasks+/(\d+)$ usertasks.php?userid=$1
RewriteRule ^tasks/?$ tasks.php?id=
RewriteRule ^task+/(\d+)$ tasks.php?id=$1 
RewriteRule ^user+/(\d+)$ users.php?uid=$1
RewriteRule ^users/?$ users.php?uid= [END]